<br>
<h1>Ultimas noticias!!</h1>
<br>
<div class="row">
    <% noticias.forEach(noticia => { %>

    <div class="card col-xl" style="width: 50%;">
      <a style="text-decoration: none; color: black;" href="/noticias/<%= noticia.id %>">
        <div class="row g-30">
          <div class="col-md-10">
            <div class="card-body" style="margin-left: 20px;" >
              
              <h5 class="card-title"><%=noticia.titulo%></h5>
              
              <p class="card-text"  ><%= noticia.contenido %></p>
              
              <p class="card-text card-text"style="font-size: x-small;"><%= noticia.create_at %></p>

          </div>
        </div>
      </a>  
        </div>
     
   </div>
      
  </a>

<% }); %>

</div>





